<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'faq.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'faq.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width faq-page">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="faq-content">
    	{%for block in section.blocks %}
    			<div class="faq-row">
                  		<div class="faq-left">
                          <h2>{{block.settings.question}}</h2>
                  		</div>
                  		<div class="faq-right">
                          {{block.settings.answer}}
                          {%- if block.settings.button_label != blank -%}
                          <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}" {{ block.shopify_attributes }}>
                            {{ block.settings.button_label | escape }}
                          </a>
                        {%- endif -%}
                          
                          
                  		</div>
    			</div>
         

      {%endfor%}
  </div>
</div>

{% schema %}
{
    "name": "FAQ",    
	"blocks": [
     {
       "name": "FAQ",
       "type": "question",
       "settings": [         
		 {
           "type": "text",
           "id": "question",
           "label": "Question"
         },
		 {
           "type": "richtext",
           "id": "answer",
           "label": "Answer"
         },
         {
           "type": "url",
           "id": "button_link",
           "label": "Button link"
         },
         {
           "type": "text",
           "id": "button_label",
           "label": "Button label"
         }
       ]
     }
	]
  }
{% endschema %}
