<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'dl-about.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'dl-about.css' | asset_url | stylesheet_tag }}</noscript>
{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

<div class="page-width siba about-container">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="static-content">
      {{section.settings.content}}
    {%- if section.settings.button_label != blank -%}
    	<a href="{{section.settings.button_link}}" class="button button--green">{{section.settings.button_label}}</a>
    {%- endif -%}
  </div>
</div>
<div class="people-container">
  	<div class="page-width">
      	<div class="people-selection">
          	<ul class="grid grid--2-col grid--2-col-tablet grid--4-col-desktop">
               {%for block in section.blocks %}
              <li class="grid__item">
              	<div class="people-list">
                  	<img src="{{block.settings.picture | img_url: 'master'}}"  loading="lazy" width=""   height="">
                  	<h3>{{block.settings.name}}</h3>
                  	<p>{{block.settings.position}}</p>
                </div>
              </li>
              {%endfor%}
           </ul>
        </div>

          <div class="join-section">
            <div class="join-image">
                <div class="image-box">
                  <img src="{{ 'address-img.png' | asset_url }}"  loading="lazy" width=""   height="">
                </div>
              </div>
              <div class="join-content">
                  <h1>Want to join our team?</h1>
                  <p>We’re always looking for hard-working people to join our team. If you’d like to be considered for any possible opportunities, please send a CV and covering letter to:</p>
                  <div class="address-section">
                    <div class="ico">
                      <img  src="{{ 'address-ico.png' | asset_url }}" alt="{{ shop.name }}"> 
                    </div>
                    <div class="content">
                        <h5>Email:</h5>
                        <p><a herf="mailto:office@dinnerladies.com.au">office@dinnerladies.com.au</a></p>
                    </div>
                </div>
              </div>
              
          </div>
    </div>
</div>

{% schema %}
{
  "name": "AboutTemplate",
   "settings": [
		{
          "type": "richtext",
          "id": "content",
          "label": "Description"
        },
        {
           "type": "url",
           "id": "button_link",
           "label": "Button link"
         },
         {
           "type": "text",
           "id": "button_label",
           "label": "Button label"
         }
	],
   "blocks": [
		{
       "name": "dlImageWithText",
       "type": "imagewithText",
		"settings": [
			{
             "type": "image_picker",
             "id": "picture",
             "label": "Picture"
           },
           
           {
             "type": "text",
             "id": "name",
             "label": "Name"
           },
			{
             "type": "text",
             "id": "position",
             "label": "Position"
           }           
         
		]
           
        }
    ]
}
{% endschema %}
