<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'dl-about.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'dl-about.css' | asset_url | stylesheet_tag }}</noscript>
{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

<div class="page-width siba about-container">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="service-content">
      {{section.settings.content}}
    {%- if section.settings.button_label != blank -%}
    	<a href="{{section.settings.button_link}}" class="button button--green">{{section.settings.button_label}}</a>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "AboutTemplate",
   "settings": [
		{
          "type": "richtext",
          "id": "content",
          "label": "Description"
        },
        {
           "type": "url",
           "id": "button_link",
           "label": "Button link"
         },
         {
           "type": "text",
           "id": "button_label",
           "label": "Button label"
         }
	],
   "blocks": [
		{
       "name": "aboutImageWithText",
       "type": "imagewithText",
		"settings": [
			{
             "type": "image_picker",
             "id": "image",
             "label": "image"
           },
           
           {
             "type": "text",
             "id": "Heading",
             "label": "Name"
           },
			{
             "type": "text",
             "id": "position",
             "label": "Position"
           }           
         
		]
           
        }
    ]
}
{% endschema %}
