<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'dl-press.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="press-selection">
    <ul class="grid grid--2-col grid--2-col-tablet grid--4-col-desktop">
      {%for block in section.blocks %}
      <li class="grid__item">
        <div class="news-list">
          <img src="{{block.settings.picture | img_url: 'master'}}"  loading="lazy" width=""   height="">
           <p>{{block.settings.tagline}}</p>
          <h3>{{block.settings.title}}</h3>
          
          {%- if block.settings.button_label != blank -%}
            <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button button--green" {{ block.shopify_attributes }}>
              {{ block.settings.button_label | escape }}
            </a>
            {%- endif -%}
          
        </div>
      </li>
      {%endfor%}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Press",
  "tag": "section",
  "class": "spaced-section",
   "blocks": [
		{
       "name": "dlImageWithText",
       "type": "imagewithText",
		"settings": [
			{
             "type": "image_picker",
             "id": "picture",
             "label": "Picture"
           },
           
           {
             "type": "text",
             "id": "title",
             "label": "Title"
           },
			{
             "type": "text",
             "id": "tagline",
             "label": "Tag Line"
           },
           {
             "type": "url",
             "id": "button_link",
             "label": "Button link"
           },
           {
             "type": "text",
             "id": "button_label",
             "label": "Button label"
           }
         
		]
           
        }
    ]
}
{% endschema %}
