<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

<div class="page-width page-width--narrow siba">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="about-content">
       

      
  </div>
</div>

{% schema %}
{
  "name": "About template",
  "tag": "section",
  "class": "spaced-section",  
   "blocks": [
		{
       "name": "aboutImageWithText",
       "type": "imagewithText",
		"settings": [
			{
             "type": "image_picker",
             "id": "image",
             "label": "image"
           },
           {
             "type": "text",
             "id": "Heading",
             "label": "Heading"
           },
            {
             "type": "image_picker",
             "id": "icon",
             "label": "icon"
           },
           {
             "type": "richtext",
             "id": "content",
             "label": "Description"
           }
		]
           
        }
    ]
}
{% endschema %}
