<div class="shopify-section spaced-section page-width whatWeDo-section">

<h5>{{section.settings.headinglabel}}</h5>
<div class="section-desc">
    		{{settings.headingtag}}
</div>
<ul class="grid grid--2-col product-grid grid--2-col-tablet grid--4-col-desktop negative-margin--small">
<p>{{ settings.body_scale}}</p>
{%for block in section.blocks %}
	<li class="grid__item easy-col">
      	<img src="{{block.settings.image | img_url: 'master'}}"  loading="lazy" width=""   height="">
         <h2>{{block.settings.imageHeading}}</h2>
  </li>

{%endfor%}
</ul>
</div>
{% schema %}
  {
    "name": "what we do",
    "settings": [
					{
						"type":"text",
						"label":"Enter heading label",
						"id": "headinglabel"
					},
                    {
                        "type": "richtext",
                        "id": "headingtag",
                        "label": "Enter Description"
                    }
				],
	"blocks": [
     {
       "name": "What block",
       "type": "image",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
		 {
           "type": "text",
           "id": "imageHeading",
           "label": "Enter Title"
         }
       ]
     }
	]
  }
{% endschema %}

